@font-face {
    font-family : 'montserratregular';
    src         : url('Montserrat-Regular.eot');
    src         : url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Regular.woff2') format('woff2'),
    url('Montserrat-Regular.woff') format('woff'),
    url('Montserrat-Regular.ttf') format('truetype'),
    url('Montserrat-Regular.svg#montserratregular') format('svg');
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'questrialregular';
    src         : url('Questrial-Regular.eot');
    src         : url('Questrial-Regular.eot?#iefix') format('embedded-opentype'),
    url('Questrial-Regular.woff2') format('woff2'),
    url('Questrial-Regular.woff') format('woff'),
    url('Questrial-Regular.ttf') format('truetype'),
    url('Questrial-Regular.svg#questrialregular') format('svg');
    font-weight : normal;
    font-style  : normal;
}