/* Common */
/*------------------------------*/

/* Typography */
/*------------------------------*/

h2 {
    margin : 0;
}

h3 {
    font-size      : 22px;
    text-transform : uppercase;
    margin         : 0 0 15px;
    font-family    : 'montserratregular', sans-serif;
}

h4 {
    font-size   : 20px;
    font-weight : normal;
    margin      : 50px 0 40px;
    color       : #000000;
    font-family : 'montserratregular', sans-serif;
}

h4:first-of-type {
    margin-top : 0;
}

.color-black {
    color : #000000;
}

/* Buttons */
/*------------------------------*/

.btn {
    border-radius : 2px;
    outline       : none !important;
    padding       : 7px 15px;
    line-height   : 16px;
    min-width     : 85px;
}

.btn.circle {
    min-width     : 0;
    width         : 40px;
    height        : 40px;
    line-height   : 40px;
    padding       : 0;
    border-radius : 100%;
}

.btn-save {
    position : absolute;
    top      : 0;
    right    : 0;
}

.btn.circle .icon {
    margin-bottom : 5px;
}

#add-new-section a, .btn-add-new {
    text-decoration : none !important;
    color           : #6d6473;
}

#add-new-section span, .btn-add-new span {
    padding-left : 10px;
}

/* Colors */
/*------------------------------*/

.primary { color : #7aa7de; }

.primary span { background-color : #7aa7de; }

.danger { color : #cb6966; }

.danger span { background-color : #cb6966; }

.success { color : #86cf75; }

.success span { background-color : #86cf75; }

.warning { color : #ebb74c; }

.warning span { background-color : #ebb74c; }

.muted { color : #9b806f; }

.muted span { background-color : #9b806f; }

.info { color : #8dc7d1; }

.info span { background-color : #8dc7d1; }

.highlighted { color : #9d8ca7; }

.highlighted span { background-color : #9d8ca7; }

.btn-primary {
    background-color : #7aa7de;
    border-color     : #7aa7de;
}

.btn-success {
    background-color : #86cf75;
    border-color     : #86cf75;
}

.btn-danger {
    background-color : #d9534f;
    border-color     : #d9534f;
}

.btn-warning {
    background-color : #ebb74c;
    border-color     : #ebb74c;
}

/* Navigation */
/*------------------------------*/

.navbar {
    margin           : 0;
    background-color : #ffffff;
    height           : 69px;
}

.navbar-brand {
    height : 69px;
}

.navbar-header {
    float : left;
}

.collapse {
    display : block;
    float   : right;
}

.navbar-nav {
    margin     : 0;
    float      : right;
    text-align : right;
}

.navbar-nav > li {
    display : inline-block;
    float   : none;
}

.navbar-nav > li > a {
    line-height : 39px;
    padding     : 15px;
    color       : #6d6473;
    font-weight : normal;
}

.navbar-nav > li > a.link-sign-in {
    color     : #000000;
    font-size : 16px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color : #ebe9ec;
}

.navbar-nav > li > a.btn {
    padding        : 7px 15px;
    line-height    : 16px;
    color          : #ffffff;
    vertical-align : middle;
    font-weight    : normal;
    margin         : 19px 0;
}

.navbar-nav > li > a.btn:hover,
.navbar-nav > li > a.btn:focus {
    background-color : #c9302c;
    border-color     : #c9302c;
}

.navbar-toggle {
    display : none;
}

.nav-menu {
    width              : 250px;
    margin-left        : 0;
    height             : 100%;
    background-color   : #ffffff;
    text-transform     : uppercase;
    z-index            : 30;
    -webkit-box-shadow : 0 0 50px 0 #000000;
    -moz-box-shadow    : 0 0 50px 0 #000000;
    box-shadow         : 0 0 50px 0 #000000;
    display            : block !important;
    position           : fixed;
    overflow-y         : auto;
    -webkit-transition : all 300ms;
    -moz-transition    : all 300ms;
    -ms-transition     : all 300ms;
    -o-transition      : all 300ms;
    transition         : all 300ms;
}

.nav-menu.hide {
    left : -270px;
}

.nav-menu.open {
    left : 0;
}

.nav-menu.open + .content .navbar-toggle {
    margin-left : 250px;
}

.nav-menu span {
    border-radius  : 100%;
    display        : inline-block;
    vertical-align : middle;
    margin-right   : 15px;
    height         : 45px;
    line-height    : 45px;
    width          : 45px;
    text-align     : center;
}

.nav-pills > li + li {
    margin     : 0;
    border-top : 1px solid #f7f7f7;
}

.nav-pills > li > a {
    padding             : 10px 15px;
    border-radius       : 0;
    color               : inherit !important;
    font-size           : 14px;
    background-image    : url(../images/icon-arrow.png);
    background-position : 234px 50%;
    background-repeat   : no-repeat;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color : #ebe9ec;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color : #f7f7f7;
    background-image : none;
}

/* Header */
/*------------------------------*/

.header,
.header h1 {
    font-size      : 16px;
    text-transform : uppercase;
    line-height    : 50px;
    margin         : 0;
}

.header .label {
    padding     : 6px 10px;
    line-height : 20px;
    margin-top  : 9px;
    min-width   : 85px;
    font-weight : normal;
}

.header .edit {
    color         : #6d6473;
    padding       : 7px;
    line-height   : normal;
    margin-bottom : 5px;
    border-radius : 4px;
}

.nav-pills > li > a.header-menu {
    color            : #d8d0dd !important;
    text-align       : center;
    background-color : #6d6473;
    background-image : none;
    cursor           : default;
    padding          : 0 10px;
    font-size        : 16px;
}

.nav-pills > li > a.header-menu > span {
    color  : #ffffff !important;
    margin : 0 0 0 5px;
    width  : auto;
}

.header-content {
    position           : fixed;
    left               : 0;
    top                : 69px;
    right              : 0;
    color              : #6d6473;
    background-color   : #ebe9ec !important;
    padding-left       : 15px;
    padding-right      : 15px;
    z-index            : 25;
    white-space        : nowrap;
    -webkit-transition : all 300ms;
    -moz-transition    : all 300ms;
    -ms-transition     : all 300ms;
    -o-transition      : all 300ms;
    transition         : all 300ms;
}

.header-content .navbar-toggle {
    display            : inline-block;
    float              : left;
    margin-left        : 0;
    margin-right       : 15px;
    background-color   : #6d6473;
    -webkit-transition : all 300ms;
    -moz-transition    : all 300ms;
    -ms-transition     : all 300ms;
    -o-transition      : all 300ms;
    transition         : all 300ms;
}

.header-content .navbar-toggle .icon-bar {
    background-color : #ffffff;
}

.header-single {
    background-color : #ebe9ec !important;
    margin           : 0 -15px 30px -15px;
    padding          : 0 15px 0 15px;
}

.header-single h1 {
    color : #6d6473;
}

.header-content .breadcrumb {
    margin           : 0;
    padding          : 0;
    background-color : transparent;
}

/* Content */
/*------------------------------*/

body {
    background-color : #f7f7f7;
    font-family      : 'questrialregular', sans-serif;
    color            : #000000;
}

.wrap {
    padding-top : 69px;
    min-width   : 480px;
}

.container-fluid {
    -webkit-transition : all 300ms;
    -moz-transition    : all 300ms;
    -ms-transition     : all 300ms;
    -o-transition      : all 300ms;
    transition         : all 300ms;
}

.content {
    margin-left        : 0;
    padding-left       : 0;
    padding-top        : 80px;
    padding-bottom     : 60px;
    color              : #6d6473;
    font-size          : 16px;
    -webkit-transition : all 300ms;
    -moz-transition    : all 300ms;
    -ms-transition     : all 300ms;
    -o-transition      : all 300ms;
    transition         : all 300ms;
}

.list-view {
    margin-bottom : 30px;
}

.well {
    border-color     : #ebe9ec;
    background-color : #ffffff;
    box-shadow       : none;
    margin-bottom    : 10px;
    padding          : 25px 35px;
}

.well .row {
    position : relative;
}

.well .alert {
    margin-top : 30px;
}

.list-details {
    text-align : center;
}

.list-details h3 {
    margin : 0;
}

.list-details h3,
.list-details h3 a {
    color           : #6d6473;
    text-decoration : none;
}

.list-details h3 a:hover,
.list-details h3 a:focus {
    border-bottom : 2px solid;
}

.list-details p {
    color       : #a096a6;
    font-style  : italic;
    font-size   : 20px;
    line-height : 22px;
    margin      : 15px 0 0;
}

.list-image {
    text-align : left;
    position   : absolute;
    top        : 50%;
    transform  : translateY(-50%);
}

@media (max-width : 992px) {
    .list-image {
        margin-top    : 0;
        margin-bottom : 0;
    }

    .list-image .image-upload-wrap {
        margin : 0 0 0 15px !important;
    }

    .single-image-wrap {
        margin : 0 !important;
    }

    .list-details {
        text-align     : left;
        padding-top    : 20px;
        padding-bottom : 20px;
    }

    .well {
        padding : 10px;
    }
}

.active-buttons {
    text-align  : right;
    position    : absolute;
    top         : 50%;
    right       : 0;
    margin-top  : -20px;
    white-space : nowrap;
}

.active-buttons .btn {
    margin-left : 10px;
}

.active-buttons .btn:first-child {
    margin-left : 0;
}

/* Alert */
/*------------------------------*/

.alert h4 {
    margin : 0 0 15px;
}

.alert p {
    margin-bottom : 10px;
}

/* Forms */
/*------------------------------*/

.form-horizontal {
    position      : relative;
    counter-reset : inputs;
}

.template .input-group {
    width : 100%;
}

.form-horizontal .control-label {
    text-align  : left;
    padding-top : 7px;
    font-size   : 16px;
}

.control-label:after {
    content : ':';
}

.form-control {
    border-color : #ebe9ec;
    box-shadow   : 0 0 !important;
}

.form-control + .input-group-addon {
    -webkit-transition : border-color ease-in-out .15s;
    -moz-transition    : border-color ease-in-out .15s;
    -ms-transition     : border-color ease-in-out .15s;
    -o-transition      : border-color ease-in-out .15s;
    transition         : border-color ease-in-out .15s;
}

.form-control:focus + .input-group-addon {
    border-color : #66afe9;
}

.form-group {
    margin-bottom : 0;
}

.form-group p {
    margin  : 0;
    padding : 7px 0 0;
}

.selectize-control.single .selectize-input, .form-group input {
    display            : block;
    height             : 34px;
    padding            : 6px 12px;
    font-size          : 14px;
    line-height        : 1.42857143;
    color              : #555555;
    background-color   : #ffffff;
    background-image   : none;
    border             : 1px solid #cccccc;
    border-radius      : 4px;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition      : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.selectize-control.single .selectize-input, .form-group input {
    height : 100%;
}

.selectize-control.single .selectize-input:active, .form-group input:active, .form-group input:focus {
    border-color : #66afe9;
    outline      : none;
}

.register-hint {
    color         : #6d6473;
    font-size     : 12px;
    margin-top    : -5px;
    margin-bottom : 15px;
}

label {
    font-weight : normal;
    color       : #000000;
}

.input-group-btn {
    padding-left : 30px;
    min-width    : 115px;
}

.input-group-addon {
    background-color : #ffffff;
    border-color     : #ebe9ec;
}

.input-group.date-field .form-control {
    border-right : none;
}

.input-group.static .form-control {
    border-top-right-radius    : 4px;
    border-bottom-right-radius : 4px;
}

.label-counter {
    position : relative;
}

.control-label.label-counter:after {
    counter-increment : inputs;
    content           : counter(inputs) '. ';
    position          : absolute;
    right             : 0;
}

/* Image Upload */
/*------------------------------*/

input[type="checkbox"].checkbox-custom {
    visibility : hidden;
    margin     : 0 15px;
}

.checkbox-toggle {
    display             : inline-block;
    vertical-align      : middle;
    color               : #6d6473;
    cursor              : pointer;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

.checkbox-toggle .point {
    width            : 40px;
    height           : 40px;
    line-height      : 40px;
    border-radius    : 100%;
    background-color : #ffffff;
    display          : inline-block;
    vertical-align   : middle;
    position         : relative;
    margin-right     : 5px;
}

.checkbox-toggle .point:after {
    content          : '';
    position         : absolute;
    top              : 50%;
    left             : 50%;
    margin-left      : -6px;
    margin-top       : -6px;
    width            : 12px;
    height           : 12px;
    border-radius    : 100%;
    background-color : #e8e8e8;
}

.checkbox-toggle.active .point:after {
    background-color : #8e7a98;
}

/* Image Upload */
/*------------------------------*/

.image-upload, .image-upload-submit {
    opacity  : 0;
    position : absolute;
    z-index  : 1;
    top      : 0;
    right    : 0;
    width    : 1000%;
    height   : 1000%;
    cursor   : pointer;
}

.image-upload-wrap {
    position         : relative;
    display          : block;
    background-color : #ebe9ed;
    padding          : 20px;
    border-radius    : 4px;
    float            : left;
    overflow         : hidden;
    text-align       : center;
    width            : 240px;
}

.list-image .image-upload-wrap, .single-image-wrap {
    margin        : 5px 5px 5px 20px;
    padding       : 0;
    border-radius : 0;
    width         : 100px;
    height        : 100px;
}

.image-upload-remove {
    background-color : #cb6966;
    color            : #ffffff;
    border-radius    : 100%;
    border           : 2px solid #ebe9ed;
    position         : absolute;
    top              : 10px;
    right            : 10px;
    z-index          : 20;
    width            : 24px;
    height           : 24px;
    line-height      : 20px;
    padding          : 0;
}

.image-upload-remove:focus {
    outline : none;
}

.list-image .image-upload-remove {
    top   : 0;
    right : 0;
}

.resize-and-crop {
    overflow       : hidden;
    display        : -moz-inline-block;
    display        : inline-block;
    *display       : inline;
    *zoom          : 1;
    position       : relative;
    vertical-align : middle;
    height         : auto !important;
}

.resize-and-crop img {
    position : relative;
    top      : 0 !important;
}

.notransition .nav-menu {
    -webkit-transition : all 0ms;
    -moz-transition    : all 0ms;
    -ms-transition     : all 0ms;
    -o-transition      : all 0ms;
    transition         : all 0ms;
}

@media (min-width : 767px) {
    .nav-menu.open,
    .nav-menu.hide {
        left               : 30px;
        margin-left        : -30px;
        -webkit-box-shadow : 0 0;
        -moz-box-shadow    : 0 0;
        box-shadow         : 0 0;
    }

    .container-fluid {
        padding-right : 65px;
    }

    .content {
        margin-left  : 235px;
        padding-left : 65px;
    }

    .header-content {
        left          : 250px;
        padding-right : 65px;
        padding-left  : 65px;
    }

    .header-content .navbar-toggle {
        display : none;
    }

    .header-single {
        margin  : 0 -65px 30px -30px;
        padding : 0 65px 0 30px;
    }

    .header .edit {
        margin-right : 35px;
    }
}

@media (max-width : 992px) {
    .list-image {
        position  : static;
        transform : none;
    }
}